.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  height: 100%;
  background-image: url("../../713479.png");
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3em; */
  height: 100%;
  /* overflow: hidden; */
}

.leaflet-container {
  height: 80%;
  width: 90%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.map-frame {
  border: "5px solid	#87CEEB";
}

/* about */

.header {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.paragraph {
  margin: 2em;
  padding: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
