@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  height: 100%;
  background-image: url("./images/sarajevo-landscape.png");
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3em; */
  height: 100%;
  /* overflow: hidden; */
}

.leaflet-container {
  height: 80%;
  width: 90%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.map-frame {
  border: "5px solid	#87CEEB";
}

/* about */

.header {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.paragraph {
  margin: 2em;
  padding: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* alert fade out */

/* .alert {
  opacity: 1;
  transition: opacity 500ms;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
} */

.navbar {
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
  background-color: white;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
