@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  height: 100%;
  background-image: url("./images/sarajevo-landscape.png");
}

#root {
  height: 100%;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3em; */
  height: 100%;
  /* overflow: hidden; */
}

.home-wrapper {
  height: 100%;
}

.leaflet-container {
  height: 80%;
  width: 90%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.map-frame {
  border: "5px solid	#87CEEB";
}

/* about */

.header {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.paragraph {
  margin: 2em;
  padding: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.custom-alert {
  width: 40%;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

@media (max-width: 768px) {
  .custom-alert {
    width: 90%;
    top: 0px;
    right: 0px;
    position: relative;
    margin: 1em auto;
  }
  .map-wrapper {
    align-items: initial;
  }
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s;
}

.fade-out.fade-out-done {
  opacity: 0;
}

.tabbed-paragraph {
  text-indent: 1.5em;
  /* background-color: red; */
  text-align: justify;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0em;
}
